/*Practice with GitKraken*/
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/*  country names column */
#countryTable td:nth-child(1),
#alphabet td:nth-child(1),
#confirm td:nth-child(1),
#death td:nth-child(1),
#recovered td:nth-child(1) { 
    
    text-align: left;
}
/*  country statistics */
#countryTable,
#alphabet,
#confirm,
#death,
#recovered {
    text-align: center;
    font-family: Montserrat;
}

#title td:nth-child(1),
#buttons td:nth-child(1){
    text-align: left;
}

#title td,
#buttons td {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

img {
    max-width:100px;
    height:auto;
}

td{
    padding: 10px;
}

header {
    background-color: #ff0676;
    color: white;
    font-family: Quicksand;
    font-size: 20px;
    padding: 10px;
    border-bottom: 10px solid #a90676;
    width: 100%;
    position:fixed;
  }

table td { /* every column */
    width: 220px;
    
}

table {

    margin-left: 8%;

}

body {
    background-color: white;
}

button {
    padding: 10px;
    font-family: Quicksand;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    margin-top: 150px;
    color: black;
    background-color: white;
}

  .monsterrat {
      font-family: Montserrat;
  }

