#countryTable td:nth-child(1) {
    
    text-align: left;
}
#countryTable{
    text-align: center;
    border-collapse: collapse;
}
table td{
    width: 200px;
}

#countryTable td {
    border: 1px solid black;
  }

.titles td{
    border: 3px solid black;
    
    width: 198px;

}

.titles{
    border-collapse: collapse;
}